.batabit-plans--body {
  justify-content: center;
  overflow: none;
}

.product-detail--container {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product-detail--container .product-detail--card  {
  margin-right: 20px;
}

footer {
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}
